/* Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #ebb4f8;
  color: #000000;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  background-color: #444;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  background-color: #666;
}
.types {
  color: white;
  text-decoration: none;
}
.types:hover {
  color: rgb(127, 127, 255);
}
